
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: BaseAddress + "statedeviation",
            type: "Get",
            dataType: "json",
            success: function (data) {
                debugger
                if (data == null) {
                    alert('Data Not Found', '', false, "E");
                }
                else {
                    var opt = "";
                    for (var i = 0; i < data.length; i++) {
                        opt += "<option value=" + data[i].stateid + ">" + data[i].state_name + "</option>";
                    }
                    $('#state').append(opt);
                }
            }
        });
        function addRow() {
            debugger
            var stateid = $("#state").val();
            if (stateid == "Select State" || stateid == "") {
                alert('Please First Select State', '', false, "E");
            }
            else {
                var from = "from", to = "to", rate = "rate";
                var rowCount = dataTable.rows.length;
                var idcount = dataTable.rows.length;
                var row = dataTable.insertRow(rowCount);
                row.id = idcount;

                //var cell1 = row.insertCell(0);
                //cell1.innerHTML = rowCount + 0;

                var cell2 = row.insertCell(0);
                var element1 = document.createElement("input");
                element1.type = "text";
                element1.name = "txtbox1[]";
                element1.id = from + idcount;
                element1.className = "form-control";
                cell2.appendChild(element1);

                var cell3 = row.insertCell(1);
                var element2 = document.createElement("input");
                element2.type = "text";
                element2.name = "txtbox2[]";
                element2.id = to + idcount;
                element2.className = "form-control";
                cell3.appendChild(element2);

                var cell4 = row.insertCell(2);
                var element3 = document.createElement("input");
                element3.type = "text";
                element3.name = "txtbox3[]";
                element3.id = rate + idcount;
                element3.className = "form-control";
                cell4.appendChild(element3);

                var cell5 = row.insertCell(3);
                var element4 = document.createElement("input");
                element4.type = "Button";
                element4.name = "btn1[]";
                element4.id = "dbbtn";
                element4.value = "Delete";
                element4.className = "btn btn-danger";
                element4.style = "width:45px, height:20";
                cell5.appendChild(element4);
            }
        }

        $("#addrow").click(function () {
            addRow();
        });

        function refresh() {
            window.location.href = '@Url.Action("Index", "StateDeviation")';
        }

        $("#save").click(function () {
            debugger
            var stateid = $("#state").val();
            var rowcount = dataTable.rows.length - 1;
            var obj = [];
            var idcount = 1;
            var flag = true;
            var alfa = false;
            var va = "";
            $('#dataTable thead tr').each(function () {
                va += this.id;
            })
            for (var i = 0; i < rowcount; i++) {
                var v = {
                    'from': $("#from" + va[i]).val(),
                    'to': $("#to" + va[i]).val(),
                    'rate': $("#rate" + va[i]).val()
                }
                if (v.from == null || v.from == "") {
                    flag = false;
                }
                else if (v.to == null || v.to == "") {
                    flag = false;
                }
                else if (v.rate == null || v.rate == "") {
                    flag = false;
                }
                else if (isNaN(v.rate)) {
                    alfa = true;
                }
                idcount++;
                obj.push(v);
            }

            if (stateid == "Select State" || stateid == "") {
                alert('Please Select State', '', false, "E");
            }
            else if (flag == false) {
                var count = 0;
                for (var f in obj) {
                    count++;
                    if (obj[f].from == null || obj[f].from == "") {
                        alert('Row ' + count + ' of from Column Cannot be Empty', '', false, "E");
                    }
                    else
                        if (obj[f].to == null || obj[f].to == "") {
                            alert('Row ' + count + ' of To Column Cannot be Empty', '', false, "E");
                        }
                        else
                            if (obj[f].rate == null || obj[f].rate == "") {
                                alert('Row ' + count + ' of Rate Column Cannot be Empty', '', false, "E");
                            }
                }
            }
            else if (alfa == true) {
                alert('Rate Should be Numeric', '', false, "E");
            }
            else {
                $.ajax({
                    url: BaseAddress + "StateDeviationapi/insert/" + stateid,
                    type: "POST",
                    contentType: "Application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function (data) {
                        if (data == 0) {
                            alert('Data Insert SuccessFully', '@Url.Action("Index", "StateDeviation")', false, "S");
                        }
                        else {
                            alert('Error Occured While Inserting Record', '', false, "E");
                        }
                    }
                });
            }
        });

        $("#reset").click(function () {
            refresh();
        });

        function deleteRow() {
            debugger
            var par = $(this).parent().parent();
            par.remove();
        };
        $("#dataTable").on("click", "#dbbtn", deleteRow);

        $("#state").change(function () {
            $('#dataTable tr:gt(0)').remove()
            var stateid = $("#state").val();
            $.ajax({
                url: BaseAddress + "StateDeviationapi/show/" + stateid,
                type: "GET",
                contentType: "Application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var rowCount = 0;
                    var idcount = 0;
                    $.each(data, function (key, value) {
                        rowCount++;
                        idcount++;
                        var from = "from", to = "to", rate = "rate";
                        var row = dataTable.insertRow(rowCount);
                        row.id = idcount;

                        //var cell1 = row.insertCell(0);
                        //cell1.innerHTML = rowCount + 0;

                        var cell2 = row.insertCell(0);
                        var element1 = document.createElement("input");
                        element1.type = "text";
                        element1.name = "txtbox1[]";
                        element1.id = from + idcount;
                        element1.value = value.devfrom;
                        element1.className = "form-control";
                        cell2.appendChild(element1);

                        var cell3 = row.insertCell(1);
                        var element2 = document.createElement("input");
                        element2.type = "text";
                        element2.name = "txtbox2[]";
                        element2.id = to + idcount;
                        element2.value = value.devto;
                        element2.className = "form-control";
                        cell3.appendChild(element2);

                        var cell4 = row.insertCell(2);
                        var element3 = document.createElement("input");
                        element3.type = "text";
                        element3.name = "txtbox3[]";
                        element3.id = rate + idcount;
                        element3.value = value.devrate;
                        element3.className = "form-control";
                        cell4.appendChild(element3);

                        var cell5 = row.insertCell(3);
                        var element4 = document.createElement("input");
                        element4.type = "Button";
                        element4.name = "btn1";
                        element4.id = "dbbtn";
                        element4.value = "Delete";
                        element4.className = "btn btn-danger";
                        element4.style = "width:25px, height:20px";
                        cell5.appendChild(element4);
                    });
                }
            });
        });
    });
</script>
<h2>State Deviation</h2>
<div class="form-group col-md-4" style="border:0px solid #f00;">
    <label class="col-md-4" for="ccyear" style="border:0px solid #f00; margin:0px 0px;">State</label>
    <div class="form-group col-md-7" style="border: 0px solid #f00; margin: 0px 0px;">
        <select id="state" name="ddlState" class="form-control">
            <option value=''>Select State</option>
        </select>
    </div>
    <br />
    <br />
    <input type="button" value="Add Row" id="addrow" class="btn-info btn" />
</div>

<br />
<br />
<table id="dataTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            @*<th style="color:#fff; width:106px;">Sr No</th>*@
            <th style="color:#fff; width:381px;">From</th>
            <th style="color:#fff; width: 381px;">To</th>
            <th style="color:#fff; width: 381px;">Rate</th>
            <th style="color:#fff; width: 150px;">Action</th>
        </tr>
    </thead>

    <tbody id="databody"></tbody>
</table>
<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-success" id="save"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save</button>
        <button type="reset" class="btn btn-danger" id="reset" onclick="location.reload(true)"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Reset</button>
    </div>
</div>






