<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!--Client Image Path -->
    <add key="ImageFilepath" value="D:\Images\" />
    <!--Excel Password-->
    <add key="ExcelPassword" value="" />
    <!--Service activity log-->
    <add key="AuditLogPath" value="F:\CMS\UPDATED SETUP\EnvisageRepoter\AuditLog\"/>
    <!--Error Log if any unhandled exception occured-->
    <add key="ErrotLogPath" value="F:\CMS\UPDATED SETUP\EnvisageRepoter\ErrorLog\"/>
 <add key="ExcelType" value=".xls"/>
    <!--Connection Srting-->
    <add key="ConnString" value="server=EMSSERVER:9089; database =etools_dev; User Id = informix; password = Envisage@123;Connection Timeout=0" />
    <add key="ConnStringTime" value="database=etools_dev;user id=informix;password=Envisage@123;server=EMSSERVER:9089;DelimIdent=false;Connection Timeout=0;persist security info=True" />
    <!--Standard Report Templet Path-->
    <add key="StandardReports" value="F:\CMS\UPDATED SETUP\Designer\StandardReports\"/>
    <add key="TempFolder" value="F:\CMS\UPDATED SETUP\EnvisageRepoter\TempFolder\"/>
<add key="CommandTimeOut" value="8000" />
    <!--SMTP Details -->
    <add key="EnableSSL" value="True" />
    <add key="isGYH" value="True" />
    

    <add key="UserName" value="smtp" />
    <add key="Password" value="test@12345678" />
    <add key="From" value="apc.reporter@gmail.com"/>
    <add key="PortNumber" value="587"/>
    <add key="SMTPHostName" value="smtp.gmail.com"/>

    <!--SMS -->
    <add key="CompPort" value="COM2" />

    <!--Timer interval in minute -->
    <add key="TimeInterval" value="1"/>
    <!--Report -->
    <add key="WaitingTime" value="15" />
  </appSettings>


</configuration>