
<script type="text/javascript">
    $(document).ready(function () {
        var id =@this.ViewContext.RouteData.Values["id"]
             $.ajax({
                 url: BaseAddress + "MeterStateDeviationAPI/Edit/" + id,
                 type: "Get",
                 dataType: "json",
                 success: function (data) {
                     var state = "";
                     var area = "";
                     var meter = "";
                     if (data == null) {
                         alert('Data Not Found', '', false, "E");
                     }
                     else {
                         state = "<option value=" + data[0].stateid + ">" + data[0].state_name + "</option>";
                         area = "<option value=" + id + ">" + data[0].area_name + "</option>";
                         for (var i in data) {
                             meter += "<option value=" + data[i].meterid + ">" + data[i].metername + "</option>";
                         }
                         $('#state').html(state);
                         $('#area').html(area);
                         $('#ddlmeterselect').append(meter);
                         $('#state').prop("disabled", true);
                         $('#area').prop("disabled", true);
                         $('#ddlmeterselect').prop("disabled", true);
                         $('#ddlmeter').prop("disabled", true);
                         $('#shiftrightmeter').prop("disabled", true);
                         $('#shiftleftmeter').prop("disabled", true);
                         $('#shiftrightallmeter').prop("disabled", true);
                         $('#shiftleftallmeter').prop("disabled", true);
                     }
                 }
             });

        $.ajax({
            url: BaseAddress + "MeterStateDeviationAPI/getmeter",
            type: "Get",
            dataType: "json",
            success: function (result) {
                if (result == null) {
                    alert('Data Not Found', '', false, "E");
                }
                else {
                    var opt = "";
                    for (var i = 0; i < result.length; i++) {
                        opt += "<option value=" + result[i].id + ">" + result[i].metername + "</option>";
                    }
                    $('#ddlmeter').append(opt);
                }
            }
        });

        $("#ddlmeterselect option").prop("selected", true);
        $("#ddlparameterselect option").prop("selected", true);
        $("#shiftrightmeter").click(function () {
            $('#ddlmeter option:selected').appendTo("#ddlmeterselect")
            $("#ddlmeterselect option").prop("selected", true);
        })

        $("#shiftleftmeter").click(function () {
            $('#ddlmeterselect option:selected').appendTo("#ddlmeter")
            $("#ddlmeterselect option").prop("selected", true);
        })

        $("#shiftrightallmeter").click(function () {
            $('#ddlmeter option').appendTo("#ddlmeterselect")
            $("#ddlmeterselect option").prop("selected", true);
        })

        $("#shiftleftallmeter").click(function () {
            $('#ddlmeterselect option').appendTo("#ddlmeter")
        })

        $("#delete").click(function () {
            var msg = confirm(DeleteMessage);
            e.preventDefault();
        });

        $("#reset").click(function () {
            window.location.href = '@Url.Action("Delete", "meterStateDeviation")';
        });
        $("#back").click(function () {
            window.location.href = '@Url.Action("area", "meterStateDeviation")';
        });
    });
    function deleterecord() {
        var id =@this.ViewContext.RouteData.Values["id"]
        $.ajax({
            url: BaseAddress + "MeterStateDeviationAPI/Delete/" + id,
            type: "GET",
            dataType: "json",
            success: function (data) {
                var success = data;
                if (success == 0) {
                    alert('Record Deleted SuccessFully', '@Url.Action("area", "meterStateDeviation")', false, "S");
                }
                else if (success == 1) {
                    alert('Error Occured While Deleting Record', '@Url.Action("area", "meterStateDeviation")', false, "E");
                }
            }
        });
    }
</script>

<h2>State Area Mapping</h2>
<div class="panel panel-default">
    <div class="panel-heading">

        <div class=" dashboard-panel-body-box"><h3>Delete</h3></div>
        <div class="panel-actions  dashboard-panel-body-boxcontrols">

        </div>
    </div>
    <button type="button" class="btn btn-success" id="back" style="float:right;width:100px; margin-right:20px;"><i class="fa fa-arrow-circle-left "></i>&nbsp;&nbsp;Back</button>
    <br /><br /><br />
    <div class="form-group col-md-5" style="border:0px solid #f00;">
        <label class="col-md-4" for="ccyear" style="border:0px solid #f00; margin:0px 0px;">State : </label>
        <div class="form-group col-md-7" style="border: 0px solid #f00; margin: 0px 0px;">
            <select id="state" name="ddlState" class="form-control"></select>
        </div>
    </div>

    <div class="form-group col-md-5 col-md-offset-2" style="border:0px solid #f00;">
        <label class="col-md-4" for="ccyear" style="border:0px solid #f00; margin:0px 0px;">Area Name : </label>
        <div class="form-group col-md-7" style="border: 0px solid #f00; margin: 0px 0px;">
            <select id="area" name="ddlArea" class="form-control"></select>
        </div>
    </div>
    <br /><br /><br /><br />
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class=" dashboard-panel-body-box">Select One/Multiple Meter</div>
                </div>
                <div class="panel-body" style="background:#ccc;">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="multiple-select">Multiple select</label>
                        <div class="col-md-9">
                            <select id="ddlmeter" class="form-control" multiple="multiple"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-sm-2 col-xs-12">
            <div class="panel panel-default" style="margin:0px; padding:10px 0px; text-align:center; background-color:transparent; border:0px">

                <div class="row">
                    <div class="col-lg-12" style="margin-bottom:5px;">
                        <button type="button" id="shiftrightmeter" class="btn btn-danger style-btns singlearrowbutton_style">
                            <span class="fa fa-angle-right" style="padding:2px;  font-size:20px;"></span>
                        </button>
                    </div>
                    <div class="col-lg-12" style="margin-bottom:5px;">
                        <button type="button" id="shiftrightallmeter" class="btn btn-danger style-btns doublearrowbutton_style">
                            <span class="fa fa-angle-double-right" style="padding:0px; font-size:20px;"></span>
                        </button>
                    </div>
                    <div class="col-lg-12" style="margin-bottom:5px;">
                        <button type="button" id="shiftleftmeter" class="btn btn-danger style-btns singlearrowbutton_style">
                            <span class="fa fa-angle-left" style="padding:2px;  font-size:20px;"></span>
                        </button>
                    </div>
                    <div class="col-lg-12" style="margin-bottom:5px;">
                        <button type="button" id="shiftleftallmeter" class="btn btn-danger style-btns doublearrowbutton_style">
                            <span class="fa fa-angle-double-left" style="padding:0px; font-size:20px;"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class=" dashboard-panel-body-box">Selected Meter</div>
                </div>
                <div class="panel-body" style="background:#ccc;">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="multiple-select">Multiple select</label>
                        <div class="col-md-9">
                            <select id="ddlmeterselect" class="form-control" multiple="multiple"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12  text-center">
            <button type="button" class="btn btn-danger" id="delete"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete</button>
        </div>
    </div>
</div>


