/* Snippet One */

body {

	  background:  url(../../images/other_img/bg-gradiant.jpg)  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0px;
	padding:0px;
}




    

   



div.member_signin {
    text-align: center;
}

div.member_signin  i.fa.fa-user {
    color: #FFF;
    background-color: #FFD202;
    border-radius: 500px;
    font-size: 36px;
    padding: 15px 20px 15px 20px;
}

div.fa_user {
    margin-top: -47px;
    margin-bottom: 15px;
}

p.member {
    font-size: 19px;
    color: #888888;
    margin-bottom: 20px;
}

button.login {
    width: 100%;
    text-transform: uppercase;
}

form.loginform div.input-group {
    width: 100%;
}

form.loginform input[type="email"], form.loginform input[type="password"] {
    color: #6C6C6C;
    text-align: left;
}

p.forgotpass {
    margin-top: 10px;
}

p.forgotpass a {
    color: #F5683D;
}

.btn-primary {
    color: #fff;
    background-color: #148E76;
    border: 3px solid #04735d;
	padding:10px 0px;
}

.btn-primary:hover 
{	
  	 color: #148E76;
	 background-color: #fff;
	 border: 3px solid #148E76;
}

.mainlogo-styling
{
	border:0px solid #F0F;
	width:100%;
	
}
