@{
    ViewBag.Title = "Invoice Generation";
    <style>
        .form-control {
            padding: 6px 10px !important;
        }

        .ErrorMessage {
            color: red !important;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            align-items: center !important;
            margin-left: 30% !important;
        }
        #btnExport {
            width: 100px !important;
            margin-top: -75% !important;
        }

        td, th {
            text-align: center !important;
        }
    </style>
    @*<link href="~/Content/css/style-stickyheader.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />*@
}

@section scripts
{
    <script>
        $(document).ready(function () {
           
            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",
                url: BaseAddress + "prmglobal",
                dataType: "json",
                async: false,
                success: function (dateformat, status, jqXHR) {
                    var str = "";
                    if (dateformat.Data.result != undefined) {
                        debugger;
                        var data = dateformat.Data.result;
                        for (var i in data) {
                            if (data[i].prmunit == "DateField") {
                                if (data[i].prmvalue != undefined && data[i].prmvalue != "") {
                                    $("#DatabaseDateformat").val(data[i].prmvalue);
                                } 
                            }
                            else if (data[i].prmunit == "ServerDate") {
                                $("#ServerDatabaseDateformat").val(data[i].prmvalue);
                            }
                        }

                    }
                    else if (dateformat.Data.e == "E") {
                        if (dateformat.Data.d.length > 0)
                            alert(dateformat.Data.d);
                    }
                }
            });            
            var DateFormat = $("#DatabaseDateformat").val();
            $("#txtFrmDate").datepicker({
                dateFormat: $("#DatabaseDateformat").val(),
                changeMonth: true,
                changeYear: true
            });
            $("#txtToDate").datepicker({
                dateFormat: $("#DatabaseDateformat").val(),
                changeMonth: true,
                changeYear: true
            });
           
            HideGrid();
            CompanyDropdown();
        });
    </script>
    <script type="text/javascript">
        function CompanyDropdown() {
           // var BaseAddress = "http://localhost:8487/EToolsAPI/api/";
            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",
                url: BaseAddress + "InvoiceGenerationAPI/",
                dataType: "json",
                success: function (substation, status, jqXHR) {
                    var str = "";
                    if (substation.Data.result != undefined) {
                        str += "<select id='ddlCompany' onchange='onChangeCompany()' class='form-control'>";
                        str += "<option value=0>Company Name</option>";
                        if (substation.Data.result.length > 0) {
                            var data = substation.Data.result;
                        
                            for (var i in data) {
                                if (data[i].utilname != undefined && data[i].utilname != "" && data[i].utilid != undefined && data[i].utilid != "") {
                                    str += "<option value=" + data[i].utilid + ">" + data[i].utilname + "</option>";
                                }
                            }
                            
                        } 
                    }
                    else if (substation.Data.e == "E") {
                        if (substation.Data.d.length > 0)
                            alert(substation.Data.d);
                    }
                    str += "</select>";
                    $("#divUtility").html(str);
                }
            });
        }
        function onChangeCompany() {
            HideGrid();
            var CompValue = $('#ddlCompany').val();
            var str = "";
            try {
                $("#ddllMgrp").empty();
            } catch (ex) {
            }
            if (CompValue == 0) {
                str += "<select id='ddlMeterGroup' onchange='HideGrid()' class='form-control'>";
                str += "<option value=0>Meter Group</option>";
                str += "</select>";
                $("#ddllMgrp").html(str);
            } else {
                MeterDropdown(Number(CompValue));
                return false;
            }

        }
        function MeterDropdown(CompanyID) {
          //  var BaseAddress = "http://localhost:8487/EToolsAPI/api/";
            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",
                url: BaseAddress + "InvoiceGenerationAPI/" + CompanyID,
                dataType: "json",
                success: function (substation, status, jqXHR) {
                    var str = "";
                    if (substation.Data.result != undefined) {
                        if (substation.Data.result.length > 0) {
                            var data = substation.Data.result;
                            str += "<select id='ddlMeterGroup' onchange='HideGrid()' class='form-control'>";
                            str += "<option value=0>Meter Group</option>";
                            for (var i in data) {
                                if (data[i].groupname != undefined && data[i].groupname != "" && data[i].id != undefined && data[i].id != "") {
                                    str += "<option value=" + data[i].id + ">" + data[i].groupname + "</option>";
                                }
                            }
                            str += "</select>";
                        } else {
                            str += "<select id='ddlMeterGroup' onchange='HideGrid()' class='form-control'>";
                            str += "<option value=0>Meter Group</option>";
                            str += "</select>";
                        }
                    }
                    else if (substation.Data.e == "E") {
                        if (substation.Data.d.length > 0)
                            alert(substation.Data.d);
                    }
                    $("#ddllMgrp").html(str);
                }
            });
        }
        function dateCal() {
            HideGrid();
            var FrmDt = $('#txtFrmDate').val();
            var ToDt = $('#txtToDate').val();
            if (FrmDt != null && FrmDt != "" && ToDt != null && ToDt != "") {
                var convFrm = new Date(ConvertMMDDYYYY(FrmDt));
                var convTo = new Date(ConvertMMDDYYYY(ToDt));
                var perDay = 24 * 60 * 60 * 1000;
                var Cmp = (convTo.valueOf() - convFrm.valueOf()) / perDay;
                if (Cmp < 0) {
                    ErrDisplay('From date cannot be greater than To date', 'txtFrmDate');
                    return false;
                }
                else {

                }
            }
        }
        function HideGrid() {
            try {
                document.getElementById("lblError").style.display = "none";
                document.getElementById("btnExport").style.display = "none";
                document.getElementById("btnShow").style.display = "block";
                // $("#lblError").addClass('MessageShow');
                $('#chart_container').empty();
                $("#txtFrmDate").css('background-color', 'white');
                $('#txtToDate').css('background-color', 'white');
                $('#ddlMeterGroup').css('background-color', 'white');
                $('#ddlCompany').css('background-color', 'white');
            } catch (ex) {
            }

        }
        function PerformanceChart() {
            var legendArray = new Array();
            var seriesOptions = "";
            var FinString = "";
            var opt = "table";
           // var BaseAddress = "http://localhost:8487/EToolsAPI/api/";

            if ($("#ddlCompany").val() == "0") {
                ErrDisplay('Please Select Company', 'ddlCompany');
                // alert('Please Select Company');
                return false;
            }
            if ($("#ddlMeterGroup").val() == "0") {
                ErrDisplay('Please Select Meter Group', 'ddlMeterGroup');
                return false;
            }
            if ($("#txtFrmDate").val() == "") {
                ErrDisplay('Please Select From Date', 'txtFrmDate');
                return false;
            }
            if ($("#txtToDate").val() == "") {
                ErrDisplay('Please Select To Date', 'txtToDate');
                return false;
            }
            var categories_data = new Array();
            var InvoiceMeterData = {
                "CompanyCode": $("#ddlCompany").val(),
                "MeterGroup": $("#ddlMeterGroup").val(),
                "FromDate": $('#txtFrmDate').val(),
                "ToDate": $('#txtToDate').val()
            };
            var jdata = JSON.stringify(InvoiceMeterData);
            try {
                $.ajax({
                    type: "POST",
                    url: BaseAddress + "InvoiceGenerationAPI/",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(InvoiceMeterData),
                    dataType: "json",
                    success: function (response, status, jqXHR) {
                        //convert Input to normal format
                        var jsonObj = response.Data.result;
                        if (jsonObj.length > 0) {
                            $.each(jsonObj[0], function (key, value) {
                                if(key!="$id")
                                legendArray[legendArray.length] = key;
                            });
                            $("#chart_container").empty();
                            if (opt == "table") {
                                FinString = "<table id='tblInvoice' runat='server'>";
                                FinString += "<thead>";
                                FinString += "<tr>";
                                for (var j = 0; j < legendArray.length; j++) {
                                    FinString += "<th class='tableth'>" + legendArray[j].replace("_", " ") + "</th>"
                                }
                                FinString += "<th class='tableth'><input type='checkbox'  id='ChkAll'  runat='server'  onclick='CheckAllCheck()'></th>"
                                FinString += "</tr>";
                                FinString += "</thead>";
                                FinString += "<tbody>";
                                $.each(jsonObj, function (index) {
                                    FinString += "<tr>";
                                    $.each(jsonObj[index], function (key, value) {
                                        if (key != "$id")
                                        FinString += "<td>" + value + "</td>"
                                    });
                                    FinString += "<td><input type='checkbox' class='subCheck' id='checkItem'></td>"
                                    FinString += "</tr>";
                                });
                                FinString += "</tbody></table><br/>";
                                $("#chart_container").html(FinString);
                                document.getElementById("btnShow").style.display = "none";
                                document.getElementById("btnExport").style.display = "block";
                            }
                        } else {
                            $("#chart_container").empty();
                            document.getElementById("btnExport").style.display = "none";
                            ErrDisplay('No Data Found', '');
                            return false;
                        }
                    },
                    failure: function (msg) {
                        alert(msg);
                    }
                });

            }
            catch (err) {
            }
        }
        function CheckAllCheck() {
            if (document.getElementById('ChkAll').checked) {
                $('input:checkbox.subCheck').each(function () {
                    this.checked = true;
                });
            } else {
                $('input:checkbox.subCheck').each(function () {
                    this.checked = false;
                });
            }
        }
        function Export() {
            var FinalStr = "";
            var TableStr = "";
            var count = 0;
            document.getElementById("lblError").style.display = "none";
            $('#tblInvoice > tbody  > tr').each(function (index) {
                var tableRow = $(this);
                    var chk = $(this).closest('tr').find('input:checkbox.subCheck');
                    if (chk != null) {
                        if (chk[0].checked) {
                            count++;
                            if (FinalStr.length > 0)
                            {
                                FinalStr += tableRow.context.childNodes[index].innerHTML +"~";
                            }else{
                                FinalStr= tableRow.context.childNodes[index].innerHTML +"~";
                            }
                        }
                    }
            });
            FinalStr = FinalStr.substring(0, FinalStr.length - 1);
            if (count == 0) {
                ErrDisplay('Please Select Meter For Invoice Generation', '');
                return false;
            }
            debugger;
            var frmdate = GetFinaldate($('#txtFrmDate').val(), $("#DatabaseDateformat").val(), $("#ServerDatabaseDateformat").val());
            var todate = GetFinaldate($('#txtToDate').val(), $("#DatabaseDateformat").val(), $("#ServerDatabaseDateformat").val());
            var InvoiceMeterData = $("#ddlCompany").val() + "~" + "BHARAT DIAMOND BOURSE" + "," + FinalStr + "," + frmdate + "," + todate + "," + $("#txtFrmDate").val() + "," + $("#txtToDate").val();
            document.getElementById('InputString').value = InvoiceMeterData;
        }
        function ConvertMMDDYYYY(date) {
            var dateFormat = $("#DatabaseDateformat").val();
            var DateArr;
            if (date.indexOf("/") > 0) {
                while (date.indexOf("/") > 0) {
                    date = date.replace("/", "-");
                    dateFormat = dateFormat.replace("/", "-");
                }
            }
            if (dateFormat.toUpperCase() == "DD-MM-YY" || dateFormat.toUpperCase() == "DD-MM-YYYY") {
                DateArr = date.split('-');
                return DateArr[1] + "-" + DateArr[0] + "-" + DateArr[2];
            } else if (dateFormat.toUpperCase() == "MM-DD-YY" || dateFormat.toUpperCase() == "MM-DD-YYYY") {
                DateArr = date.split('-');
                return DateArr[0] + "-" + DateArr[1] + "-" + DateArr[2];
            } else if (dateFormat.toUpperCase() == "YY-MM-DD" || dateFormat.toUpperCase() == "YYYY-MM-DD") {
                DateArr = date.split('-');
                return DateArr[1] + "-" + DateArr[2] + "-" + DateArr[0];
            }
        }
        function ErrDisplay(value, ctrl) {

            // $("[id$=' lbltxt']").html('Your Value')
            //  $('#lblError').removeClass('checked');
            $("#lblError").html(value);
            $('#lblError').addClass('ErrorMessage');
            $("#lblError").css("display", "block");
            if (ctrl != '' || ctrl != "") {
                var id = "#" + ctrl;
                $(id).css('background-color', 'Red');
            }
        }
    </script>
}
<h2>Invoice Generation</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            @*<div class="panel-heading">
                <div class=" dashboard-panel-body-box">
                    Invoice Generation
                </div>
                <div class="panel-actions  dashboard-panel-body-boxcontrols">
                    <a href="charts-flot.html#" class="btn-setting" data-toggle="modal" data-target="#ModalTable01">
                        <i class="fa fa-eye"></i>
                    </a><a href="charts-flot.html#" class="btn-minimize">
                        <i class="fa fa-chevron-up"></i>
                    </a><a href="charts-flot.html#" class="btn-close">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>*@
            <div>
                <label id="lblError"></label>
            </div>
            <br>

            @Html.Hidden("DatabaseDateformat", "dd/mm/yy")
            <div class="form-group col-sm-2">
                <label for="ccmonth" style="margin-left:0px !important">
                    Company
                </label>
                <div id='divUtility'></div>
            </div>
            <div class="form-group col-sm-2">
                <label for="ccyear" style="margin-left:0px !important">
                    Meter Group
                </label>
                <div id='ddllMgrp'>
                    <select id='ddlMeterGroup' class='form-control'>
                        <option value='0'>Meter Group</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3" style="border-left: 1px solid #ccc;">
                <div class="col-md-9" style="border: 0px solid #f00;">
                    <label class="col-md-12 control-label" style="border: 0px solid #000; padding: 0px;
                                        margin: 5px 0px;" for="select">
                        From  Date
                    </label>
                    <div id="dtFrmDate">
                        <input id="txtFrmDate" class="form-control" onchange="return dateCal();" type="text" readonly />
                    </div>
                    <style>
                        label {
                            margin-left: 20px;
                        }

                        #datepicker1 {
                            width: 150px;
                        }

                            #datepicker1 > span:hover {
                                cursor: pointer;
                            }
                    </style>
                </div>
            </div>
            <div class="form-group col-md-3" style="border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
                <div class="col-md-9" style="border: 0px solid #f00;">
                    <label class="col-md-12 control-label" style="border: 0px solid #000; padding: 0px;
                                        margin: 5px 0px;" for="select">
                        To  Date
                    </label>
                    <div id="dtToDate">
                        <input id="txtToDate" class="form-control" type="text" onchange="return dateCal();" readonly />
                    </div>
                    <style>
                        label {
                            margin-left: 20px;
                        }

                        #datepicker2 {
                            width: 150px;
                        }

                            #datepicker2 > span:hover {
                                cursor: pointer;
                            }
                    </style>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group has-feedback col-sm-12">
                    <label for="cvv">
                        &nbsp;
                    </label>
                    <div>
                        <input type="submit" id="btnShow" onclick="return PerformanceChart()" class="toggle btn btn-primary" value="Show" />
                    </div>
                    <label for="cvv">
                        &nbsp;
                    </label>
                    <div>
                        @using (Html.BeginForm("PDF", "GeneratePDF"))
                        {

                            @Html.Hidden("InputString")
                             @Html.Hidden("ServerDatabaseDateformat")
                            <input type="submit" id="btnExport" onclick="return Export()" class="toggle btn btn-primary" value="Export PDF" />
                        }
                    </div>
                </div>
            </div>
            <div id="chart_container" class="panel-body">

            </div>
        </div>
    </div>
</div>
