@model GridLogikViewer.APIModels.InstanceData
@{
    ViewBag.Title = "ABT Meter Details";
}
<style>
    .table-style_01 th, .table-style_01 td {
        background: #2f2f2f !important;
        color: #17bab8;
        font-size: 16px;
        text-align: center;
    }

    .table-style_02 th, .table-style_02 td {
        background: #2f2f2f !important;
        color: #ed9979;
        font-size: 16px;
        text-align: center;
    }

    .table-style_03 th, .table-style_03 td {
        background: #2f2f2f !important;
        color: #f02d99;
        font-size: 16px;
        text-align: center;
    }

    .table-style_04 th, .table-style_04 td {
        background: #2f2f2f !important;
        color: #ebd504;
        font-size: 16px;
        text-align: center;
    }

    .table-style_05 th, .table-style_05 td {
        background: #2f2f2f !important;
        color: #00adef;
        font-size: 16px;
        text-align: center;
    }

    .table-style_06 th, .table-style_06 td {
        background: #2f2f2f !important;
        color: #83c338;
        font-size: 16px;
        text-align: center;
    }

    .table-hover_01 > tbody > tr:hover > td, .table-hover_01 > tbody > tr:hover > th {
        background-color: #f00 !important;
    }

    .panel-default > .panel-heading {
        padding: 2px 10px;
    }
</style>



<div class="col-lg-12">
    <div class="form-group col-md-2" style="border:0px solid #f00;">
        <h2></h2>
        @Html.HiddenFor(m => m.METERID)
        <input type="hidden" id="hdnMeterList" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12" style="border:0px solid  #000; ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class=" dashboard-panel-body-box" style="font-size:16px; font-weight:bold;">CHP STAGE 1 FEEDERS Area (KW)</div>
                <div class="panel-actions  dashboard-panel-body-boxcontrols"> </div>
            </div>
            <table class="table table-bordered results">
                <thead>
                    @*<tr style="background:#0f0f0f !important; color:#FFF;">

                                                <th  style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

                        align:center; ">FEEDERS</th>
                                                <th colspan="3" style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold;

                        text-align:center; ">KW</th>

                                            </tr>*@
                    <tr style="background:#0f0f0f !important; color:#FFF;">

                        <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

align:center; ">FEEDERS</th>
                        <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

align:center; ">kW</th>
                        <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

align:center; ">MWh</th>
                        <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

align:center; ">Iavg</th>
                        <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

align:center; ">Vry</th>
                        <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

align:center; ">Vyb</th>
                        <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

align:center; ">Vbr</th>
                        <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

align:center; ">Kvrah-Lg</th>
                        <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

align:center; ">Kvarh-Ld</th>
                        <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-

align:center; ">PF</th>
                    </tr>
                </thead>
                <tbody class="table-style_01">
                    <tr id="1">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;" 			    scope="row">STG1_CHP_STNSWGR_OSA</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="1_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="1_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="1_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="1_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="1_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="1_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="1_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="1_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="1_unitpf"></label></td>
                    </tr>
                    <tr id="2">
                        <th style=" background:#0f0f0f !important;color:#f7943c;padding:0px;" 			    scope="row">STG1_CHP_TR1_SS_1</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="2_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="2_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="2_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="2_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="2_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="2_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="2_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="2_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="2_unitpf"></label></td>
                    </tr>
                    <tr id="3">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_TR1_SS_5</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="3_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="3_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="3_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="3_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="3_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="3_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="3_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="3_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="3_unitpf"></label></td>

                    </tr>
                    <tr id="4">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS1_RING_GRANULATOR_1</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="4_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="4_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="4_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="4_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="4_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="4_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="4_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="4_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="4_unitpf"></label></td>

                    </tr>

                    </tr>
                    <tr id="5">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"                             scope="row">STG1_CHP_SS1_RING_GRANULATOR_2</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="5_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="5_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="5_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="5_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="5_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="5_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="5_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="5_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="5_unitpf"></label></td>


                    </tr>
                    <tr id="6">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS1_CONV_7A</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="6_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="6_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="6_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="6_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="6_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="6_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="6_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="6_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="6_unitpf"></label></td>


                    </tr>
                    <tr id="7">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS1_INC2_SS2</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="7_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="7_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="7_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="7_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="7_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="7_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="7_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="7_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="7_unitpf"></label></td>


                    </tr>
                    <tr id="8">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS1_CONV_7B</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="8_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="8_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="8_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="8_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="8_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="8_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="8_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="8_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="8_unitpf"></label></td>


                    </tr>
                    <tr id="9">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS1_RING_GRANULATOR_3</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="9_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="9_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="9_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="9_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="9_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="9_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="9_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="9_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="9_unitpf"></label></td>

                    </tr>
                    <tr id="10">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS1_RING_GRANULATOR_4</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="10_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="10_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="10_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="10_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="10_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="10_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="10_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="10_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="10_unitpf"></label></td>

                    </tr>

                    <tr id="11">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS1_TR2_SS_1</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="11_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="11_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="11_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="11_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="11_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="11_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="11_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="11_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="11_unitpf"></label></td>

                    </tr>

                    <tr id="12">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS1_TR2_SS_5</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="12_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="12_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="12_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="12_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="12_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="12_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="12_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="12_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="12_unitpf"></label></td>

                    </tr>
                    <tr id="13">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS2_INC1_SS_1</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="13_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="13_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="13_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="13_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="13_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="13_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="13_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="13_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="13_unitpf"></label></td>

                    </tr>
                    <tr id="14">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS2_CONV_9</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="14_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="14_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="14_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="14_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="14_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="14_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="14_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="14_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="14_unitpf"></label></td>

                    </tr>
                    <tr id="15">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS2_SR_2</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="15_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="15_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="15_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="15_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="15_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="15_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="15_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="15_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="15_unitpf"></label></td>

                    </tr>
                    <tr id="16">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS2_TR1</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="16_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="16_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="16_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="16_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="16_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="16_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="16_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="16_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="16_unitpf"></label></td>

                    </tr>

                   
                    <tr id="18">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS2_TR2</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="18_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="18_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="18_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="18_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="18_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="18_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="18_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="18_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="18_unitpf"></label></td>

                    </tr>
		    <tr id="19">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS2_CONV_11</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="19_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="19_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="19_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="19_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="19_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="19_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="19_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="19_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="19_unitpf"></label></td>

                    </tr>
                    <tr id="20">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS2_INC2_SS_1</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="20_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="20_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="20_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="20_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="20_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="20_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="20_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="20_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="20_unitpf"></label></td>

                    </tr>
			<tr id="21">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS3_INC1_A</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="21_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="21_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="21_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="21_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="21_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="21_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="21_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="21_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="21_unitpf"></label></td>

                    </tr>
			<tr id="22">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS3_TR1_A</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="22_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="22_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="22_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="22_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="22_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="22_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="22_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="22_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="22_unitpf"></label></td>

                    </tr>
<tr id="23">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS3_CONV_2A</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="23_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="23_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="23_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="23_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="23_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="23_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="23_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="23_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="23_unitpf"></label></td>

                    </tr>
<tr id="24">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS3_TR2_B</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="24_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="24_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="24_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="24_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="24_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="24_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="24_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="24_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="24_unitpf"></label></td>

                    </tr>
<tr id="25">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS3_CONV_2B</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="25_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="25_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="25_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="25_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="25_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="25_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="25_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="25_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="25_unitpf"></label></td>

                    </tr>
<tr id="26">
                        <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;"
                            scope="row">STG1_CHP_SS3_INC2_B</th>
                        <td style=" color:#00FFFF; padding:0px;"><label id="26_unitkw"></label></td>
                        <td style=" color: #00FFFF; padding: 0px;"><label id="26_unitkwh"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="26_unitIavg"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="26_unitvry"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="26_unitvyb"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="26_unitvbr"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="26_unitkvarhlag"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="26_unitkvarhlead"></label></td>
                        <td style=" color:#00FFFF; padding:0px;"><label id="26_unitpf"></label></td>

                    </tr>
                    </tr>
            </table>

            <!-- Modal03 popup -->
            <!--/col-->

        </div>
    </div>
    <div class="col-md-8">
        <div id="divParent">
            @*<div style="border: 0px solid #000; padding: 0px; margin: 0px 0px; text-align: right; float: left;">
                <button type="button" class="btn btn-twitter" style="font-weight:bold; margin:0px 10px;" id="btnCHP">Gen 1   </button>
            </div>*@
            <div style="border: 0px solid #000; padding: 0px; margin: 0px 0px; text-align: right; float: left;">
                <button type="button" class="btn btn-twitter" style="font-weight:bold; margin:0px 10px;"
                        id="btnFeeders">
                   CHP Summary
                </button>
            </div>
            @*<div style="border:0px solid #000; padding:0px; margin:0px 0px;  text-align:right; float:left;">
                <button type="button" class="btn btn-twitter" style="font-weight:bold; margin:0px 10px;"
                        id="btnBoiler">
                    BOILER AUX
                </button>
            </div>
            <div style="border: 0px solid #000; padding: 0px; margin: 0px 0px; text-align: right; float: left;">
                <button type="button" class="btn btn-twitter" style="font-weight:bold; margin:0px 10px;"
                        id="btnTurbine">
                    TURBINE AUX
                </button>
            </div>
          

            <div style="border: 0px solid #000; padding: 0px; margin: 0px 0px; text-align: right; float: left;">
                <button type="button" class="btn btn-twitter" style="font-weight:bold; margin:0px 10px;" id="btnOther">Common Aux</button>
            </div>*@
        </div>
    </div>

</div>
<script type="text/javascript">
    debugger;
    var ws, w1, w2;
    var meterId = "";
    var box;
    var MeterString ="203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227";
    var MeterIdList = {
        "MeterString": MeterString
    };

    var ConfingArr = new Array();
    $(document).ready(function () {
        $("#btnFeeders").click(function () {
            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            window.location.href = '@Url.Action("Screen8", "RRVUNL")';
        });
       
        ABTMeterDetails();
    });




    @*$("#btnBack").click(function () {
        box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
        window.location.href = '@Url.Action("Index", "RRVUNL")';
    });*@
    setInterval(ABTMeterDetails, 1000);
    function ABTMeterDetails() {
        debugger
        $.ajax({
            //type: "GET",
            //contentType: "application/json;charset=utf-8",//type of data to be send
            //url: BaseAddress + "GetAllInstanceData/getMeterData/" + MeterString,
            //dataType: "json",//type of data to be received

            type: "POST",
            url: BaseAddress + "GetAllInstanceData/",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(MeterIdList),
            dataType: "json",

            success: function (response, status, jqXHR) {
                var TotalUnit1kw = 0;
                var TotalUnit2kw = 0;
                var TotalStationkw = 0;
                var TotalUnit1apc = 0;
                var TotalUnit2apc = 0;
                var TotalStationapc = 0;
                var jsonObj = response.Data.result;
                 if (jsonObj != undefined && jsonObj.length > 0) {
                 debugger
                  jsonObj.forEach(function (responseobj) {
                        debugger
 if (responseobj.meterid == 203) {
                            $('#1_unitkw').html(responseobj.kw.toFixed(2).toString());
                            $('#1_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#1_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#1_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#1_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#1_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#1_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#1_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#1_unitpf').html(responseobj.pf.toFixed(2).toString());
 		       }
 if (responseobj.meterid == 204) {


                            $('#2_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#2_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#2_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#2_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#2_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#2_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#2_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#2_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#2_unitpf').html(responseobj.pf.toFixed(2).toString());
 			                        }
if (responseobj.meterid == 205) {


                            $('#3_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#3_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#3_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#3_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#3_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#3_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#3_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#3_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#3_unitpf').html(responseobj.pf.toFixed(2).toString());
 			 }
if (responseobj.meterid == 206) {


                            $('#4_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#4_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                           $('#4_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#4_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#4_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#4_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#4_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#4_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#4_unitpf').html(responseobj.pf.toFixed(2).toString());

                           }
 if (responseobj.meterid == 207) {


                            $('#5_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#5_unitkwh').html(responseobj.kwh_exp.toFixed(2).toString());
                           $('#5_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#5_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#5_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#5_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#5_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#5_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#5_unitpf').html(responseobj.pf.toFixed(2).toString());

}
 if (responseobj.meterid == 208) {


                            $('#6_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#6_unitkwh').html(responseobj.kwh_exp.toFixed(2).toString());
                            $('#6_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#6_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#6_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#6_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#6_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#6_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#6_unitpf').html(responseobj.pf.toFixed(2).toString());

}
 if (responseobj.meterid == 209) {


                            $('#7_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#7_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#7_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#7_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#7_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#7_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#7_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#7_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#7_unitpf').html(responseobj.pf.toFixed(2).toString());

}
 if (responseobj.meterid == 210) {


                            $('#8_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#8_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#8_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#8_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#8_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#8_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#8_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#8_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#8_unitpf').html(responseobj.pf.toFixed(2).toString());

}
 if (responseobj.meterid == 211) {


                            $('#9_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#9_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#9_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#9_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#9_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#9_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#9_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#9_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#9_unitpf').html(responseobj.pf.toFixed(2).toString());

                        }
 if (responseobj.meterid == 212) {


                            $('#10_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#10_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                             $('#10_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#10_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#10_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#10_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#10_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#10_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#10_unitpf').html(responseobj.pf.toFixed(2).toString());

                        }
 if (responseobj.meterid == 213) {


                            $('#11_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#11_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#11_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#11_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#11_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#11_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#11_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#11_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#11_unitpf').html(responseobj.pf.toFixed(2).toString());

                        }
 if (responseobj.meterid == 214) {


                            $('#12_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#12_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#12_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#12_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#12_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#12_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#12_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#12_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#12_unitpf').html(responseobj.pf.toFixed(2).toString());

                        }
 if (responseobj.meterid == 215) {


                            $('#13_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#13_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#13_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#13_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#13_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#13_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#13_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#13_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#13_unitpf').html(responseobj.pf.toFixed(2).toString());

                        }
 if (responseobj.meterid == 216) {


                            $('#14_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#14_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#14_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#14_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#14_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#14_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#14_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#14_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#14_unitpf').html(responseobj.pf.toFixed(2).toString());

                        }
if (responseobj.meterid == 217) {


                            $('#15_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#15_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#15_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#15_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#15_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#15_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#15_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#15_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#15_unitpf').html(responseobj.pf.toFixed(2).toString());

                        }
if (responseobj.meterid == 218) {


                            $('#16_unitkw ').html(responseobj.kw.toFixed(2).toString());
                            $('#16_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#16_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#16_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#16_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#16_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#16_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#16_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#16_unitpf').html(responseobj.pf.toFixed(2).toString());

                        }

if (responseobj.meterid == 219) {


                            $('#18_unitkw').html(responseobj.kw.toFixed(2).toString());
                            $('#18_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#18_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#18_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#18_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#18_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#18_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#18_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#18_unitpf').html(responseobj.pf.toFixed(2).toString());
                                }
if (responseobj.meterid == 220) {


                            $('#19_unitkw').html(responseobj.kw.toFixed(2).toString());
                            $('#19_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#19_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#19_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#19_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#19_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#19_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#19_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#19_unitpf').html(responseobj.pf.toFixed(2).toString());
 				}
if (responseobj.meterid == 221) {


                            $('#20_unitkw').html(responseobj.kw.toFixed(2).toString());
                            $('#20_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#20_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#20_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#20_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#20_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#20_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#20_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#20_unitpf').html(responseobj.pf.toFixed(2).toString());
 				}
if (responseobj.meterid == 222) {


                            $('#21_unitkw').html(responseobj.kw.toFixed(2).toString());
                            $('#21_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#21_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#21_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#21_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#21_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#21_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#21_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#21_unitpf').html(responseobj.pf.toFixed(2).toString());
 				}
if (responseobj.meterid == 223) {


                            $('#22_unitkw').html(responseobj.kw.toFixed(2).toString());
                            $('#22_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#22_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#22_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#22_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#22_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#22_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#22_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#22_unitpf').html(responseobj.pf.toFixed(2).toString());
 				}
if (responseobj.meterid == 224) {


                            $('#23_unitkw').html(responseobj.kw.toFixed(2).toString());
                            $('#23_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#23_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#23_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#23_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#23_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#23_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#23_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#23_unitpf').html(responseobj.pf.toFixed(2).toString());
 				}
if (responseobj.meterid == 225) {


                            $('#24_unitkw').html(responseobj.kw.toFixed(2).toString());
                            $('#24_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#24_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#24_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#24_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#24_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#24_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#24_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#24_unitpf').html(responseobj.pf.toFixed(2).toString());
 				}
if (responseobj.meterid == 226) {


                            $('#25_unitkw').html(responseobj.kw.toFixed(2).toString());
                            $('#25_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#25_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#25_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#25_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#25_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#25_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString())
                            $('#25_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#25_unitpf').html(responseobj.pf.toFixed(2).toString());
 				}
if (responseobj.meterid == 227) {


                            $('#26_unitkw').html(responseobj.kw.toFixed(2).toString());
                            $('#26_unitkwh').html(responseobj.kwh_exp.toFixed(3).toString());
                            $('#26_unitIavg').html(responseobj.i.toFixed(2).toString());
                            $('#26_unitvry').html(responseobj.vry.toFixed(2).toString());
                            $('#26_unitvyb').html(responseobj.vyb.toFixed(2).toString());
                            $('#26_unitvbr').html(responseobj.vbr.toFixed(2).toString());
                            $('#26_unitkvarhlag').html(responseobj.kvarh_lag_exp.toFixed(2).toString());
                            $('#26_unitkvarhlead').html(responseobj.kvarh_lead_exp.toFixed(2).toString());
                            $('#26_unitpf').html(responseobj.pf.toFixed(2).toString());
 				}
                    });



                }
            },
            error: function (xhr, status, error) {
                if (box) box.remove();
            }
        });

    }

</script>            
