@{
    ViewBag.Title = "Index";
}
<style>
    .unlink {
        background-color: #000000;
        color: #fff;
        border-collapse: collapse;
    }

        .unlink tr {
            background: #000000 !important;
        }

        .unlink th {
            border: 1px solid #fff;
            padding: 7px 3px;
            text-transform: uppercase;
            text-align: center;
            background: #000000 !important;
        }

        .unlink td {
            /*border-width: 0 1px;*/
            padding: 5px 3px;
            text-align: center;
            border-color: #fff;
            border-style: solid;
        }

            .unlink td label {
                padding: 2px 3px;
                border: 2px groove;
            }

    .station {
        background-color: #cccccc;
        padding: 3px 0;
        color: #000;
        margin: 3px auto 0;
        box-shadow: 1px 1px 1px #ccc;
        text-transform: uppercase;
        width: 96%;
        display: block;
        font-weight: bold;
    }

        .station a {
            color: #000;
            text-decoration: none;
        }

    .bg_red {
        background-color: red;
    }

    .green_txt {
        color: #00c100;
    }

    .orange_txt {
        color: #f09a4e;
    }

    .pink_txt {
        color: #cb74cc;
    }
</style>
<script type="text/javascript">
    var BlFlag = false;
    var AreaStr = "4,5,6";
    var id = 0;
    $(document).ready(function () {
        GetArea();
        HideData(2);
    });
    function GetArea() {
        var AreaArr = AreaStr.split(',');
        if (AreaArr.length > 0) {
            for (var i = 0; i < AreaArr.length; i++) {
                if (AreaArr[i] != "") {
                    var ddlArea = AreaArr[i];
                    GetPreviousblkData(ddlArea);
                }
            }
        }
    }
    function HideData(flag) {
        if (flag == 1) {
            $("#divMainblk").hide()
            BlFlag = false;
        } else {
            $("#divMainblk").show();
            BlFlag = true;
        }
    }
    function GetPreviousblkData(ddlArea) {
        box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
        try {
            if (ddlArea != 0 && ddlArea != null) {
                $.ajax({
                    type: "GET",
                    contentType: "application/json;charset=utf-8",//type of data to be send
                    url: BaseAddress + "UnilinkSummaryAPI/GetSummaryNotification/" + ddlArea + "/" + ddlArea,
                    dataType: "json",//type of data to be received
                    async: false,
                    success: function (MainScreenDetail, status, jqXHR) {
                        if (MainScreenDetail != null) {
                            var AreaName = MainScreenDetail.AreaName;
                            var Areaid = MainScreenDetail.area_id;
                            $("#" + Areaid + "_count_with15").html(parseFloat(MainScreenDetail.count_with15).toFixed(2));
                            $("#" + Areaid + "_count_with30").html(parseFloat(MainScreenDetail.count_with30).toFixed(2));
                            $("#" + Areaid + "_count_with50").html(parseFloat(MainScreenDetail.count_with50).toFixed(2));
                            $("#" + Areaid + "_dev_with15").html(parseFloat(MainScreenDetail.dev_with15).toFixed(2));
                            $("#" + Areaid + "_dev_with30").html(parseFloat(MainScreenDetail.dev_with30).toFixed(2));
                            $("#" + Areaid + "_dev_with50").html(parseFloat(MainScreenDetail.dev_with50).toFixed(2));
                            if (box) box.remove();
                        }
                    },
                    error: function (xhr, status, error) {
                        // alert(error);
                        if (box) box.remove();
                    }
                });


            } else {
                if (box) box.remove();
            }

        } catch (err) {
            if (box) box.remove();
        }

    }
    function LoadData() {
        var crrdate = new Date();
        var Mintes = crrdate.getMinutes();
        var ModTime = Mintes % 15;
        if (ModTime > 0 && ModTime < 6) {
            GetArea();
        }
    }
    setInterval(function () { LoadData(); }, 60000);
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="unlink">
    <thead>
        <tr>
            <td colspan="8" style="background-image: url(/Areas/Unilink/Image/unlink-logo.png); background-repeat: no-repeat; height: 83px; background-position: center right; color: #ffcccc; font-size: 24px; text-transform: uppercase; font-weight: bold; ">
                Unlink Engineering corporation Pvt. Ltd.
            </td>
        </tr>
        <tr>
            <td>Area </td>
            <td>+/- 15 Block Count</td>
            <td>+/- 15 Deviation Value</td>
            <td>+/- 30 Block Count</td>
            <td>+/- 30 Deviation Value</td>
            <td>+/- 50 Block Count</td>
            <td>+/- 50 Deviation Value</td>
        </tr>
    </thead>
    <tbody id="tblData">
        <tr id="1_tr">
            <td><span class="station">UKHEDA</span></td>
            <td><label id="4_count_with15" class="green_txt">00</label></td>
            <td><label id="4_dev_with15" class="green_txt">00</label></td>
            <td><label id="4_count_with30" class="green_txt">00</label></td>
            <td><label id="4_dev_with30" class="green_txt">00</label></td>
            <td><label id="4_count_with50" class="green_txt">00</label></td>
            <td><label id="4_dev_with50" class="green_txt">00</label></td>
        </tr>
        <tr>
            <td><span class="station">DEGAM</span></td>
            <td><label id="5_count_with15" class="green_txt">00</label></td>
            <td><label id="5_dev_with15" class="green_txt">00</label></td>
            <td><label id="5_count_with30" class="green_txt">00</label></td>
            <td><label id="5_dev_with30" class="green_txt">00</label></td>
            <td><label id="5_count_with50" class="green_txt">00</label></td>
            <td><label id="5_dev_with50" class="green_txt">00</label></td>
        </tr>
        <tr>
            <td><span class="station">SHEVDIVADAR</span></td>
            <td><label id="6_count_with15" class="green_txt">00</label></td>
            <td><label id="6_dev_with15" class="green_txt">00</label></td>
            <td><label id="6_count_with30" class="green_txt">00</label></td>
            <td><label id="6_dev_with30" class="green_txt">00</label></td>
            <td><label id="6_count_with50" class="green_txt">00</label></td>
            <td><label id="6_dev_with50" class="green_txt">00</label></td>
        </tr>
    </tbody>
</table>
